# Imports

In [1]:
import sys
import polars as pl
pl.Config.set_tbl_rows(15) # show up rows in cell
pl.Config.set_fmt_str_lengths(200)   # show up to 200 chars for string cells
import boto3
import time
from IPython.display import display
import datetime
import math
from pathlib import PurePosixPath
print(f"{sys.version=}")

sys.version='3.14.0 (main, Oct  7 2025, 09:34:52) [Clang 17.0.0 (clang-1700.3.19.1)]'

In [2]:
s3 = boto3.resource(
    's3',
    endpoint_url='http://localhost:9000',
    aws_access_key_id='minioadmin',
    aws_secret_access_key='minioadmin',
    aws_session_token=None,
    config=boto3.session.Config(signature_version='s3v4'),
    verify=False
)
storage_options = {
    "aws_endpoint_url": "http://localhost:9000", # Важно: aws_endpoint_url (иногда endpoint_url)
    "aws_access_key_id": "minioadmin",
    "aws_secret_access_key": "minioadmin",
    "aws_region": "us-east-1", # Для MinIO часто можно оставить us-east-1
    "aws_allow_http": "true",  # Разрешить HTTP (без SSL)
}

# Список silver S3

In [3]:
def silver_path2dt(obj):
    return datetime.datetime(**{item.split("=",1)[0]: int(item.split("=",1)[1]) for item in PurePosixPath(obj.key).parts if "=" in item})
bucket = s3.Bucket('silver')
objects = sorted(bucket.objects.all(), key=silver_path2dt)

In [4]:
objects[:2]

[s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=7/part-c3db8d99-b134-4cdf-9601-af1f29d0eaf8.parquet'),
 s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=8/part-76877218-6629-4852-88fe-28adad10a57a.parquet')]

In [5]:
total_size_mb = 0
for obj in objects:
    key = obj.key
    size_mb = obj.size//1e+6
    total_size_mb += size_mb
    print(key, size_mb, "mb,", "last_modified", obj.last_modified)

hh/vacancies/year=2025/month=12/day=7/part-c3db8d99-b134-4cdf-9601-af1f29d0eaf8.parquet 1.0 mb, last_modified 2025-12-16 10:36:01.727000+00:00
hh/vacancies/year=2025/month=12/day=8/part-76877218-6629-4852-88fe-28adad10a57a.parquet 10.0 mb, last_modified 2025-12-16 10:37:25.620000+00:00
hh/vacancies/year=2025/month=12/day=9/part-c6d99cfa-0e36-4167-a9cc-403aeb0abb38.parquet 9.0 mb, last_modified 2025-12-16 10:38:36.278000+00:00
hh/vacancies/year=2025/month=12/day=10/part-5255f869-8a86-4b1c-988b-66521df52208.parquet 9.0 mb, last_modified 2025-12-16 10:39:38.477000+00:00
hh/vacancies/year=2025/month=12/day=11/part-3fd06728-a53b-45aa-a1b5-f2f8beefcce6.parquet 8.0 mb, last_modified 2025-12-16 10:40:36.257000+00:00
hh/vacancies/year=2025/month=12/day=12/part-431ebb6e-6b9f-418a-b9de-5dd92d91127e.parquet 9.0 mb, last_modified 2025-12-16 10:41:41.757000+00:00
hh/vacancies/year=2025/month=12/day=13/part-5633c4b8-3f9c-4b88-82b1-a83e37c8d5eb.parquet 6.0 mb, last_modified 2025-12-16 10:42:41.574000+00:00
hh/vacancies/year=2025/month=12/day=14/part-81f8c93e-a303-43a5-aa1d-bcec4a8d0459.parquet 13.0 mb, last_modified 2025-12-16 10:44:44.933000+00:00
hh/vacancies/year=2025/month=12/day=15/part-e3dbed9e-2f5a-4d82-8ef7-36e2c4c45a48.parquet 29.0 mb, last_modified 2025-12-16 10:15:25.578000+00:00
hh/vacancies/year=2025/month=12/day=16/part-235fbbf3-ebf1-4c05-b4de-69cbbc219313.parquet 25.0 mb, last_modified 2025-12-17 05:17:52.593000+00:00

In [6]:
print('Silver layer size', total_size_mb, 'mb')

Silver layer size 119.0 mb

# Общее кол-во вакансий в S3

In [7]:
for obj in objects:
    schema = pl.scan_parquet(f"s3://silver/{obj.key}",storage_options=storage_options).collect_schema()
    print(obj, len(schema))

s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=7/part-c3db8d99-b134-4cdf-9601-af1f29d0eaf8.parquet') 51
s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=8/part-76877218-6629-4852-88fe-28adad10a57a.parquet') 51
s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=9/part-c6d99cfa-0e36-4167-a9cc-403aeb0abb38.parquet') 51
s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=10/part-5255f869-8a86-4b1c-988b-66521df52208.parquet') 51
s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=11/part-3fd06728-a53b-45aa-a1b5-f2f8beefcce6.parquet') 51
s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=12/part-431ebb6e-6b9f-418a-b9de-5dd92d91127e.parquet') 51
s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=13/part-5633c4b8-3f9c-4b88-82b1-a83e37c8d5eb.parquet') 51
s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=14/part-81f8c93e-a303-43a5-aa1d-bcec4a8d0459.parquet') 51
s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=15/part-e3dbed9e-2f5a-4d82-8ef7-36e2c4c45a48.parquet') 51
s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=16/part-235fbbf3-ebf1-4c05-b4de-69cbbc219313.parquet') 51

In [8]:
df_lazy = pl.scan_parquet(
    [f"s3://silver/{obj.key}" for obj in objects],
    storage_options=storage_options,
)

In [9]:
df_lazy.select(
    pl.col('id').count().alias('id_cnt'),
    pl.col('id').unique().count().alias('unique_id_cnt')
).collect()

shape: (1, 2)
┌────────┬───────────────┐
│ id_cnt ┆ unique_id_cnt │
│ ---    ┆ ---           │
│ u32    ┆ u32           │
╞════════╪═══════════════╡
│ 585986 ┆ 545877        │
└────────┴───────────────┘

In [10]:
df_lazy.tail(1).collect().glimpse()

Rows: 1
Columns: 51
$ id                                    <str> '128772562'
$ name                                  <str> 'Ведущий специалист по работе с подозрительными операциями'
$ schedule                        <struct[2]> {'id': 'remote', 'name': 'Удаленная работа'}
$ working_time_modes        <list[struct[2]]> []
$ working_time_intervals    <list[struct[2]]> []
$ working_days              <list[struct[2]]> []
$ working_hours             <list[struct[2]]> [{'id': 'HOURS_12', 'name': '12\xa0часов'}]
$ work_schedule_by_days     <list[struct[2]]> [{'id': 'TWO_ON_TWO_OFF', 'name': '2/2'}]
$ fly_in_fly_out_duration   <list[struct[2]]> []
$ is_adv_vacancy                       <bool> False
$ internship                           <bool> False
$ accept_temporary                     <bool> False
$ accept_incomplete_resumes            <bool> False
$ premium                              <bool> False
$ has_test                             <bool> False
$ show_contacts                        <bool> False
$ response_letter_required             <bool> False
$ show_logo_in_search                  <bool> True
$ archived                             <bool> False
$ night_shifts                         <bool> False
$ url                                   <str> 'https://api.hh.ru/vacancies/128772562?host=hh.ru'
$ alternate_url                         <str> 'https://hh.ru/vacancy/128772562'
$ apply_alternate_url                   <str> 'https://hh.ru/applicant/vacancy_response?vacancyId=128772562'
$ response_url                          <str> null
$ adv_response_url                      <str> null
$ immediate_redirect_url                <str> null
$ salary                          <struct[4]> {'from': 27000, 'to': 100000, 'currency': 'RUR', 'gross': True}
$ salary_range                    <struct[6]> {'from': 27000, 'to': 100000, 'currency': 'RUR', 'gross': True, 'mode': {'id': 'MONTH', 'name': 'За\xa0месяц'}, 'frequency': None}
$ employer                        <struct[9]> {'id': '2180', 'name': 'Ozon', 'url': 'https://api.hh.ru/employers/2180', 'alternate_url': 'https://hh.ru/employer/2180', 'logo_urls': {'original': 'https://img.hhcdn.ru/employer-logo-original-round/5899116.png', '90': 'https://img.hhcdn.ru/employer-logo-round/5899117.png', '240': 'https://img.hhcdn.ru/employer-logo-round/5899118.png'}, 'vacancies_url': 'https://api.hh.ru/vacancies?employer_id=2180', 'country_id': 1, 'accredited_it_employer': True, 'trusted': True}
$ department                      <struct[2]> {'id': 'ozonru-2180-fintech', 'name': 'Ozon Банк'}
$ type                            <struct[2]> {'id': 'open', 'name': 'Открытая'}
$ employment                      <struct[2]> {'id': 'full', 'name': 'Полная занятость'}
$ employment_form                 <struct[2]> {'id': 'FULL', 'name': 'Полная'}
$ experience                      <struct[2]> {'id': 'between1And3', 'name': 'От 1 года до 3 лет'}
$ area                            <struct[3]> {'id': '79', 'name': 'Саратов', 'url': 'https://api.hh.ru/areas/79'}
$ address                        <struct[10]> null
$ work_format               <list[struct[2]]> [{'id': 'REMOTE', 'name': 'Удалённо'}]
$ relations                       <list[str]> []
$ professional_roles        <list[struct[2]]> [{'id': '121', 'name': 'Специалист технической поддержки'}]
$ contacts                        <struct[3]> null
$ adv_context                           <str> null
$ sort_point_distance                   <f64> null
$ snippet                         <struct[2]> {'requirement': 'Готовность развиваться в направлении финансовой безопасности. Опыт работы в контактном центре будет являться преимуществом. Грамотную устную и письменную речь. ', 'responsibility': 'Обрабатывать запросы по подозрительным операциям по финансовым продуктам (банковские карты, рассрочки и т.д.). Коммуницировать с клиентами в телефонном звонке...'}
$ branding                        <struct[2]> {'type': 'MAKEUP', 'tariff': None}
$ insider_interview               <struct[2]> null
$ video_vacancy                   <struct[7]> null
$ brand_snippet                   <struct[7]> null
$ published_at_utc             <datetime[μs]> 2025-12-16 16:24:35
$ created_at_utc               <datetime[μs]> 2025-12-16 16:24:35
$ published_at_offset                   <i16> 180
$ created_at_offset                     <i16> 180

# Сверка схем Bronze & Silver

In [144]:
check_report_dt = datetime.datetime(year=2025, month=12, day=15)

In [145]:
bronze_lazy = pl.scan_ndjson(f"s3://bronze/hh/vacancies/date={check_report_dt.strftime('%Y-%m-%d')}/*.jsonl.gz", storage_options=storage_options)
bronze_cols = set(bronze_lazy.collect_schema().names())

In [146]:
report_dt_obj = next(iter(s3.Bucket('silver').objects.filter(Prefix="hh/vacancies/"+check_report_dt.strftime("year=%Y/month=%m/day=%d")).all()))
silver_s3_path = report_dt_obj.key
silver_lazy = pl.scan_parquet(f"s3://silver/{silver_s3_path}", storage_options=storage_options)
silver_cols = set(silver_lazy.collect_schema().names())

In [147]:
silver_cols - bronze_cols

{'created_at_offset',
 'created_at_utc',
 'immediate_redirect_url',
 'published_at_offset',
 'published_at_utc',
 'video_vacancy'}

In [148]:
"brand_snippet" in bronze_cols

True

In [149]:
for report_dt in {"2025-12-08", "2025-12-09", "2025-12-10", "2025-12-11", "2025-12-12", "2025-12-13", "2025-12-14", "2025-12-15"}:
    print(report_dt)
    for bronze_obj in s3.Bucket('bronze').objects.filter(Prefix=f"hh/vacancies/date={report_dt}"):
        _bronze_lazy = pl.scan_ndjson(f"s3://bronze/{bronze_obj.key}/*.jsonl.gz", storage_options=storage_options)
        print("\t", "brand_snippet" in set(bronze_lazy.collect_schema().names()))

2025-12-09
	 True
	 True
	 True
	 True
	 True
	 True
2025-12-10
	 True
	 True
	 True
	 True
	 True
2025-12-13
	 True
	 True
	 True
	 True
	 True
2025-12-15
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
2025-12-11
	 True
	 True
	 True
	 True
	 True
2025-12-08
	 True
	 True
	 True
	 True
	 True
	 True
	 True
2025-12-14
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
	 True
2025-12-12
	 True
	 True
	 True
	 True
	 True

# Lil EDA

In [11]:
def silver_path2dt(obj):
    return datetime.datetime(**{item.split("=",1)[0]: int(item.split("=",1)[1]) for item in PurePosixPath(obj.key).parts if "=" in item})
bucket = s3.Bucket('silver')
objects = sorted(bucket.objects.all(), key=silver_path2dt)
objects

[s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=7/part-c3db8d99-b134-4cdf-9601-af1f29d0eaf8.parquet'),
 s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=8/part-76877218-6629-4852-88fe-28adad10a57a.parquet'),
 s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=9/part-c6d99cfa-0e36-4167-a9cc-403aeb0abb38.parquet'),
 s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=10/part-5255f869-8a86-4b1c-988b-66521df52208.parquet'),
 s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=11/part-3fd06728-a53b-45aa-a1b5-f2f8beefcce6.parquet'),
 s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=12/part-431ebb6e-6b9f-418a-b9de-5dd92d91127e.parquet'),
 s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=13/part-5633c4b8-3f9c-4b88-82b1-a83e37c8d5eb.parquet'),
 s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=14/part-81f8c93e-a303-43a5-aa1d-bcec4a8d0459.parquet'),
 s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=15/part-e3dbed9e-2f5a-4d82-8ef7-36e2c4c45a48.parquet'),
 s3.ObjectSummary(bucket_name='silver', key='hh/vacancies/year=2025/month=12/day=16/part-235fbbf3-ebf1-4c05-b4de-69cbbc219313.parquet')]

In [14]:
df_lazy = (
    pl.scan_parquet([f"s3://silver/{obj.key}" for obj in objects], storage_options=storage_options)

    # Published Date transfromation from UTC to Local
    .with_columns(
        published_at_local = (
                pl.col('published_at_utc').dt.replace_time_zone(None) +
                pl.duration(minutes=pl.col('published_at_offset')
            )
        ),
        created_at_local = (
                pl.col('created_at_utc').dt.replace_time_zone(None) +
                pl.duration(minutes=pl.col('created_at_offset')
            )
        )
    )
    .with_columns(
        published_date=pl.col('published_at_local').dt.date()
    )
)

## Проверка заполненности *_offset

In [15]:
df_lazy.select("published_at_utc", "published_at_offset", "published_at_local").head(100).collect()

shape: (100, 3)
┌─────────────────────┬─────────────────────┬─────────────────────┐
│ published_at_utc    ┆ published_at_offset ┆ published_at_local  │
│ ---                 ┆ ---                 ┆ ---                 │
│ datetime[μs]        ┆ i16                 ┆ datetime[μs]        │
╞═════════════════════╪═════════════════════╪═════════════════════╡
│ 2025-12-07 09:07:46 ┆ 180                 ┆ 2025-12-07 12:07:46 │
│ 2025-12-07 01:00:49 ┆ 180                 ┆ 2025-12-07 04:00:49 │
│ 2025-12-07 04:03:28 ┆ 180                 ┆ 2025-12-07 07:03:28 │
│ 2025-12-07 08:57:08 ┆ 180                 ┆ 2025-12-07 11:57:08 │
│ 2025-12-07 06:38:09 ┆ 180                 ┆ 2025-12-07 09:38:09 │
│ 2025-12-07 10:31:57 ┆ 180                 ┆ 2025-12-07 13:31:57 │
│ 2025-12-07 05:34:02 ┆ 180                 ┆ 2025-12-07 08:34:02 │
│ 2025-12-07 12:21:22 ┆ 180                 ┆ 2025-12-07 15:21:22 │
│ …                   ┆ …                   ┆ …                   │
│ 2025-12-07 05:34:41 ┆ 180                 ┆ 2025-12-07 08:34:41 │
│ 2025-12-07 06:39:28 ┆ 180                 ┆ 2025-12-07 09:39:28 │
│ 2025-12-07 06:57:45 ┆ 180                 ┆ 2025-12-07 09:57:45 │
│ 2025-12-07 07:07:06 ┆ 180                 ┆ 2025-12-07 10:07:06 │
│ 2025-12-07 08:14:24 ┆ 180                 ┆ 2025-12-07 11:14:24 │
│ 2025-12-07 08:15:21 ┆ 180                 ┆ 2025-12-07 11:15:21 │
│ 2025-12-07 08:20:23 ┆ 180                 ┆ 2025-12-07 11:20:23 │
└─────────────────────┴─────────────────────┴─────────────────────┘

## Проверка дублей по id

In [16]:
df_lazy.select(
    pl.col('id').count(),
    pl.col('id').unique().count().alias('unique_id')
).collect()

shape: (1, 2)
┌────────┬───────────┐
│ id     ┆ unique_id │
│ ---    ┆ ---       │
│ u32    ┆ u32       │
╞════════╪═══════════╡
│ 585986 ┆ 545877    │
└────────┴───────────┘

In [17]:
dups = df_lazy.filter(pl.col("id").is_duplicated()).sort(by='id')
dups.head(20).select("id", "name", "published_at_local", "created_at_local").collect()

shape: (20, 4)
┌───────────┬──────────────────────────────────────────┬─────────────────────┬─────────────────────┐
│ id        ┆ name                                     ┆ published_at_local  ┆ created_at_local    │
│ ---       ┆ ---                                      ┆ ---                 ┆ ---                 │
│ str       ┆ str                                      ┆ datetime[μs]        ┆ datetime[μs]        │
╞═══════════╪══════════════════════════════════════════╪═════════════════════╪═════════════════════╡
│ 100355111 ┆ Продавец-кассир, пoлная занятость        ┆ 2025-12-12 08:54:39 ┆ 2025-12-12 08:54:39 │
│ 100355111 ┆ Продавец-кассир, пoлная занятость        ┆ 2025-12-16 15:58:36 ┆ 2025-12-16 15:58:36 │
│ 100355249 ┆ Продавец-кассир (ВИЗ)                    ┆ 2025-12-15 13:01:47 ┆ 2025-12-15 13:01:47 │
│ 100355249 ┆ Продавец-кассир (ВИЗ)                    ┆ 2025-12-16 14:35:14 ┆ 2025-12-16 14:35:14 │
│ 100696122 ┆ Оператор call-центра / Телемаркетолог/   ┆ 2025-12-13 14:47:24 ┆ 2025-12-13 14:47:24 │
│           ┆ Лидоруб                                  ┆                     ┆                     │
│ 100696122 ┆ Оператор call-центра / Телемаркетолог/   ┆ 2025-12-16 14:47:25 ┆ 2025-12-16 14:47:25 │
│           ┆ Лидоруб                                  ┆                     ┆                     │
│ 101064322 ┆ Руководитель отдела продаж               ┆ 2025-12-09 11:21:42 ┆ 2025-12-09 11:21:42 │
│ 101064322 ┆ Руководитель отдела продаж               ┆ 2025-12-16 15:26:34 ┆ 2025-12-16 15:26:34 │
│ …         ┆ …                                        ┆ …                   ┆ …                   │
│ 101389417 ┆ Продавец-консультант в салон связи T2    ┆ 2025-12-16 15:02:40 ┆ 2025-12-16 15:02:40 │
│ 101441536 ┆ Продавец-консультант в салон связи T2    ┆ 2025-12-15 11:55:21 ┆ 2025-12-15 11:55:21 │
│ 101441536 ┆ Продавец-консультант в салон связи T2    ┆ 2025-12-16 15:11:33 ┆ 2025-12-16 15:11:33 │
│ 101631375 ┆ Автоэлектрик-диагност / Автомобильный    ┆ 2025-12-12 11:37:24 ┆ 2025-12-12 11:37:24 │
│           ┆ диагност (Гатчина)                       ┆                     ┆                     │
│ 101631375 ┆ Автоэлектрик-диагност / Автомобильный    ┆ 2025-12-16 14:36:33 ┆ 2025-12-16 14:36:33 │
│           ┆ диагност (Гатчина)                       ┆                     ┆                     │
│ 101665495 ┆ Старший специалист в банк                ┆ 2025-12-16 16:08:50 ┆ 2025-12-16 16:08:50 │
│ 101665495 ┆ Старший специалист в банк                ┆ 2025-12-13 16:08:50 ┆ 2025-12-13 16:08:50 │
└───────────┴──────────────────────────────────────────┴─────────────────────┴─────────────────────┘

**Вывод**: вакансии с одинаковым id могут публиковаться в разные дни

## Describe

In [155]:
df_lazy_described = df_lazy.describe()

In [28]:
from IPython.display import display, HTML

display(HTML("""
<style>
/* classic notebook */
div.output_area pre {
  white-space: pre !important;   /* не переносить строки */
}

/* jupyterlab */
div.jp-OutputArea-output pre {
  white-space: pre !important;   /* не переносить строки */
}
</style>
"""))

with pl.Config(tbl_cols=-1, tbl_formatting='MARKDOWN', tbl_width_chars=-1):
    print(df_lazy_described)

shape: (9, 54)
| statistic  | id        | name                            | schedule | working_time_modes | working_time_intervals | working_days | working_hours | work_schedule_by_days | fly_in_fly_out_duration | is_adv_vacancy | internship | accept_temporary | accept_incomplete_resumes | premium  | has_test | show_contacts | response_letter_required | show_logo_in_search | archived | night_shifts | url                             | alternate_url                   | apply_alternate_url             | response_url                    | adv_response_url | immediate_redirect_url          | salary   | salary_range | employer | department | type     | employment | employment_form | experience | area     | address  | work_format | relations | professional_roles | contacts | adv_context | sort_point_distance | snippet  | branding | insider_interview | video_vacancy | brand_snippet | published_at_utc           | created_at_utc             | published_at_offset | created_at_offset | published_at_local         | published_date             |
| ---        | ---       | ---                             | ---      | ---                | ---                    | ---          | ---           | ---                   | ---                     | ---            | ---        | ---              | ---                       | ---      | ---      | ---           | ---                      | ---                 | ---      | ---          | ---                             | ---                             | ---                             | ---                             | ---              | ---                             | ---      | ---          | ---      | ---        | ---      | ---        | ---             | ---        | ---      | ---      | ---         | ---       | ---                | ---      | ---         | ---                 | ---      | ---      | ---               | ---           | ---           | ---                        | ---                        | ---                 | ---               | ---                        | ---                        |
| str        | str       | str                             | f64      | f64                | f64                    | f64          | f64           | f64                   | f64                     | f64            | f64        | f64              | f64                       | f64      | f64      | f64           | f64                      | f64                 | f64      | f64          | str                             | str                             | str                             | str                             | str              | str                             | f64      | f64          | f64      | f64        | f64      | f64        | f64             | f64        | f64      | f64      | f64         | f64       | f64                | f64      | str         | f64                 | f64      | f64      | f64               | f64           | f64           | str                        | str                        | f64                 | f64               | str                        | str                        |
|------------|-----------|---------------------------------|----------|--------------------|------------------------|--------------|---------------|-----------------------|-------------------------|----------------|------------|------------------|---------------------------|----------|----------|---------------|--------------------------|---------------------|----------|--------------|---------------------------------|---------------------------------|---------------------------------|---------------------------------|------------------|---------------------------------|----------|--------------|----------|------------|----------|------------|-----------------|------------|----------|----------|-------------|-----------|--------------------|----------|-------------|---------------------|----------|----------|-------------------|---------------|---------------|----------------------------|----------------------------|---------------------|-------------------|----------------------------|----------------------------|
| count      | 144437    | 144437                          | 144437.0 | 144437.0           | 144437.0               | 144437.0     | 144437.0      | 144437.0              | 144437.0                | 144437.0       | 144437.0   | 144437.0         | 144437.0                  | 144437.0 | 144437.0 | 144437.0      | 144437.0                 | 65214.0             | 144437.0 | 144437.0     | 144437                          | 144437                          | 144437                          | 23943                           | 0                | 23942                           | 117822.0 | 117822.0     | 144437.0 | 26837.0    | 144437.0 | 144437.0   | 144437.0        | 144437.0   | 144437.0 | 101957.0 | 144437.0    | 144437.0  | 144437.0           | 94140.0  | 0           | 0.0                 | 144437.0 | 47503.0  | 1982.0            | 824.0         | 1868.0        | 144437                     | 144437                     | 144437.0            | 144437.0          | 144437                     | 144437                     |
| null_count | 0         | 0                               | 0.0      | 0.0                | 0.0                    | 0.0          | 0.0           | 0.0                   | 0.0                     | 0.0            | 0.0        | 0.0              | 0.0                       | 0.0      | 0.0      | 0.0           | 0.0                      | 79223.0             | 0.0      | 0.0          | 0                               | 0                               | 0                               | 120494                          | 144437           | 120495                          | 26615.0  | 26615.0      | 0.0      | 117600.0   | 0.0      | 0.0        | 0.0             | 0.0        | 0.0      | 42480.0  | 0.0         | 0.0       | 0.0                | 50297.0  | 144437      | 144437.0            | 0.0      | 96934.0  | 142455.0          | 143613.0      | 142569.0      | 0                          | 0                          | 0.0                 | 0.0               | 0                          | 0                          |
| mean       | null      | null                            | null     | null               | null                   | null         | null          | null                  | null                    | 0.0            | 0.036327   | 0.105285         | 0.628011                  | 0.173411 | 0.010967 | 0.651772      | 0.014837                 | 1.0                 | 0.000381 | 0.153333     | null                            | null                            | null                            | null                            | null             | null                            | null     | null         | null     | null       | null     | null       | null            | null       | null     | null     | null        | null      | null               | null     | null        | null                | null     | null     | null              | null          | null          | 2025-12-15 10:12:38.207966 | 2025-12-15 10:12:38.207966 | 180.0               | 180.0             | 2025-12-15 13:12:38.207966 | 2025-12-15 00:01:12.978530 |
| std        | null      | null                            | null     | null               | null                   | null         | null          | null                  | null                    | null           | null       | null             | null                      | null     | null     | null          | null                     | null                | null     | null         | null                            | null                            | null                            | null                            | null             | null                            | null     | null         | null     | null       | null     | null       | null            | null       | null     | null     | null        | null      | null               | null     | null        | null                | null     | null     | null              | null          | null          | null                       | null                       | 0.0                 | 0.0               | null                       | null                       |
| min        | 100055445 | "LES AILES & CHOPAR PIZZA" ga … | null     | null               | null                   | null         | null          | null                  | null                    | 0.0            | 0.0        | 0.0              | 0.0                       | 0.0      | 0.0      | 0.0           | 0.0                      | 1.0                 | 0.0      | 0.0          | https://api.hh.ru/vacancies/10… | https://hh.ru/vacancy/10005544… | https://hh.ru/applicant/vacanc… | https://hh.ru/article/27354?ut… | null             | https://hh.ru/article/27354?ut… | null     | null         | null     | null       | null     | null       | null            | null       | null     | null     | null        | null      | null               | null     | null        | null                | null     | null     | null              | null          | null          | 2025-12-14 21:00:42        | 2025-12-14 21:00:42        | 180.0               | 180.0             | 2025-12-15 00:00:42        | 2025-12-15                 |
| 25%        | null      | null                            | null     | null               | null                   | null         | null          | null                  | null                    | null           | null       | null             | null                      | null     | null     | null          | null                     | null                | null     | null         | null                            | null                            | null                            | null                            | null             | null                            | null     | null         | null     | null       | null     | null       | null            | null       | null     | null     | null        | null      | null               | null     | null        | null                | null     | null     | null              | null          | null          | 2025-12-15 07:00:26        | 2025-12-15 07:00:26        | 180.0               | 180.0             | 2025-12-15 10:00:26        | 2025-12-15                 |
| 50%        | null      | null                            | null     | null               | null                   | null         | null          | null                  | null                    | null           | null       | null             | null                      | null     | null     | null          | null                     | null                | null     | null         | null                            | null                            | null                            | null                            | null             | null                            | null     | null         | null     | null       | null     | null       | null            | null       | null     | null     | null        | null      | null               | null     | null        | null                | null     | null     | null              | null          | null          | 2025-12-15 09:56:05        | 2025-12-15 09:56:05        | 180.0               | 180.0             | 2025-12-15 12:56:05        | 2025-12-15                 |
| 75%        | null      | null                            | null     | null               | null                   | null         | null          | null                  | null                    | null           | null       | null             | null                      | null     | null     | null          | null                     | null                | null     | null         | null                            | null                            | null                            | null                            | null             | null                            | null     | null         | null     | null       | null     | null       | null            | null       | null     | null     | null        | null      | null               | null     | null        | null                | null     | null     | null              | null          | null          | 2025-12-15 13:24:26        | 2025-12-15 13:24:26        | 180.0               | 180.0             | 2025-12-15 16:24:26        | 2025-12-15                 |
| max        | 99938388  | ️ Менеджер по продажам           | null     | null               | null                   | null         | null          | null                  | null                    | 0.0            | 1.0        | 1.0              | 1.0                       | 1.0      | 1.0      | 1.0           | 1.0                      | 1.0                 | 1.0      | 1.0          | https://api.hh.ru/vacancies/99… | https://hh.ru/vacancy/99938388  | https://hh.ru/applicant/vacanc… | https://yaroslavl.hh.ru/articl… | null             | https://hh.ru/vrsurvey/pik_ope… | null     | null         | null     | null       | null     | null       | null            | null       | null     | null     | null        | null      | null               | null     | null        | null                | null     | null     | null              | null          | null          | 2025-12-16 10:14:14        | 2025-12-16 10:14:14        | 180.0               | 180.0             | 2025-12-16 13:14:14        | 2025-12-16                 |

## Check nulls

In [156]:
df_lazy.null_count().collect().glimpse()

Rows: 1
Columns: 53
$ id                        <u32> 0
$ name                      <u32> 0
$ schedule                  <u32> 0
$ working_time_modes        <u32> 0
$ working_time_intervals    <u32> 0
$ working_days              <u32> 0
$ working_hours             <u32> 0
$ work_schedule_by_days     <u32> 0
$ fly_in_fly_out_duration   <u32> 0
$ is_adv_vacancy            <u32> 0
$ internship                <u32> 0
$ accept_temporary          <u32> 0
$ accept_incomplete_resumes <u32> 0
$ premium                   <u32> 0
$ has_test                  <u32> 0
$ show_contacts             <u32> 0
$ response_letter_required  <u32> 0
$ show_logo_in_search       <u32> 328207
$ archived                  <u32> 0
$ night_shifts              <u32> 0
$ url                       <u32> 0
$ alternate_url             <u32> 0
$ apply_alternate_url       <u32> 0
$ response_url              <u32> 509228
$ adv_response_url          <u32> 585986
$ immediate_redirect_url    <u32> 509231
$ salary                    <u32> 97137
$ salary_range              <u32> 97137
$ employer                  <u32> 0
$ department                <u32> 473368
$ type                      <u32> 0
$ employment                <u32> 0
$ employment_form           <u32> 0
$ experience                <u32> 0
$ area                      <u32> 0
$ address                   <u32> 161715
$ work_format               <u32> 0
$ relations                 <u32> 0
$ professional_roles        <u32> 0
$ contacts                  <u32> 191453
$ adv_context               <u32> 585986
$ sort_point_distance       <u32> 585986
$ snippet                   <u32> 0
$ branding                  <u32> 392236
$ insider_interview         <u32> 576536
$ video_vacancy             <u32> 582555
$ brand_snippet             <u32> 578588
$ published_at_utc          <u32> 0
$ created_at_utc            <u32> 0
$ published_at_offset       <u32> 0
$ created_at_offset         <u32> 0
$ published_at_local        <u32> 0
$ published_date            <u32> 0

## professional_role count

In [18]:
lens = pl.col('professional_roles').list.len()
df_lazy.select(
    lens.min().alias("min_len"),
    lens.max().alias("max_len"),
    lens.mean().alias("avg_len"),
    lens.median().alias("median_len"),
    lens.quantile(0.25).alias("p25_len"),
    lens.quantile(0.75).alias("p75_len"),
    lens.quantile(0.95).alias("p95_len"),
).collect()

shape: (1, 7)
┌─────────┬─────────┬─────────┬────────────┬─────────┬─────────┬─────────┐
│ min_len ┆ max_len ┆ avg_len ┆ median_len ┆ p25_len ┆ p75_len ┆ p95_len │
│ ---     ┆ ---     ┆ ---     ┆ ---        ┆ ---     ┆ ---     ┆ ---     │
│ u32     ┆ u32     ┆ f64     ┆ f64        ┆ f64     ┆ f64     ┆ f64     │
╞═════════╪═════════╪═════════╪════════════╪═════════╪═════════╪═════════╡
│ 1       ┆ 1       ┆ 1.0     ┆ 1.0        ┆ 1.0     ┆ 1.0     ┆ 1.0     │
└─────────┴─────────┴─────────┴────────────┴─────────┴─────────┴─────────┘

In [19]:
with pl.Config(set_tbl_rows=15):
    res = df_lazy.select("professional_roles").head(15).collect()
    display(res)

shape: (15, 1)
┌─────────────────────────────────────────────────────────────────┐
│ professional_roles                                              │
│ ---                                                             │
│ list[struct[2]]                                                 │
╞═════════════════════════════════════════════════════════════════╡
│ [{"115","Слесарь, сантехник"}]                                  │
│ [{"130","Уборщица, уборщик"}]                                   │
│ [{"21","Водитель"}]                                             │
│ [{"97","Продавец-консультант, продавец-кассир"}]                │
│ [{"21","Водитель"}]                                             │
│ [{"17","Бизнес-тренер"}]                                        │
│ [{"85","Оператор производственной линии"}]                      │
│ [{"70","Менеджер по продажам, менеджер по работе с клиентами"}] │
│ [{"70","Менеджер по продажам, менеджер по работе с клиентами"}] │
│ [{"58","Курьер"}]                                               │
│ [{"115","Слесарь, сантехник"}]                                  │
│ [{"24","Врач"}]                                                 │
│ [{"162","Мастер по ремонту оборудования, техники"}]             │
│ [{"70","Менеджер по продажам, менеджер по работе с клиентами"}] │
│ [{"55","Копирайтер, редактор, корректор"}]                      │
└─────────────────────────────────────────────────────────────────┘

In [20]:
q = (df_lazy.with_columns(
        pl.col('professional_roles').list.get(0).struct.field('name').alias('professional_role')
    )
)
with pl.Config(set_tbl_rows=20):
    res = q.group_by('professional_role').len().sort(by="len", descending=True).collect()
    display(res)

shape: (174, 2)
┌──────────────────────────────────────────────────────┬───────┐
│ professional_role                                    ┆ len   │
│ ---                                                  ┆ ---   │
│ str                                                  ┆ u32   │
╞══════════════════════════════════════════════════════╪═══════╡
│ Продавец-консультант, продавец-кассир                ┆ 50041 │
│ Менеджер по продажам, менеджер по работе с клиентами ┆ 37387 │
│ Другое                                               ┆ 36760 │
│ Курьер                                               ┆ 28404 │
│ Водитель                                             ┆ 27529 │
│ Оператор производственной линии                      ┆ 27183 │
│ Упаковщик, комплектовщик                             ┆ 25289 │
│ Повар, пекарь, кондитер                              ┆ 23360 │
│ Разнорабочий                                         ┆ 19988 │
│ Бухгалтер                                            ┆ 11525 │
│ …                                                    ┆ …     │
│ Андеррайтер                                          ┆ 134   │
│ Гейм-дизайнер                                        ┆ 125   │
│ Брокер                                               ┆ 90    │
│ Арт-директор, креативный директор                    ┆ 86    │
│ Журналист, корреспондент                             ┆ 84    │
│ Режиссер, сценарист                                  ┆ 84    │
│ Директор по информационным технологиям (CIO)         ┆ 72    │
│ Военнослужащий                                       ┆ 69    │
│ Бортпроводник                                        ┆ 58    │
│ Менеджер/консультант по стратегии                    ┆ 53    │
└──────────────────────────────────────────────────────┴───────┘

## Schema

In [22]:
df = pl.concat([df_lazy.head(1_000), df_lazy.tail(1_000)]).collect()
df.shape

(2000, 54)

In [23]:
print(f"{df.estimated_size("mb"):.1f} MB")

14.8 MB

In [24]:
df.sample(1).glimpse()

Rows: 1
Columns: 54
$ id                                    <str> '128637424'
$ name                                  <str> 'Электромонтажник в Новую Чару'
$ schedule                        <struct[2]> {'id': 'flyInFlyOut', 'name': 'Вахтовый метод'}
$ working_time_modes        <list[struct[2]]> []
$ working_time_intervals    <list[struct[2]]> []
$ working_days              <list[struct[2]]> []
$ working_hours             <list[struct[2]]> [{'id': 'HOURS_11', 'name': '11 часов'}]
$ work_schedule_by_days     <list[struct[2]]> [{'id': 'OTHER', 'name': 'Другое'}]
$ fly_in_fly_out_duration   <list[struct[2]]> [{'id': 'DAYS_60', 'name': '60'}]
$ is_adv_vacancy                       <bool> False
$ internship                           <bool> False
$ accept_temporary                     <bool> False
$ accept_incomplete_resumes            <bool> True
$ premium                              <bool> False
$ has_test                             <bool> False
$ show_contacts                        <bool> True
$ response_letter_required             <bool> False
$ show_logo_in_search                  <bool> null
$ archived                             <bool> False
$ night_shifts                         <bool> False
$ url                                   <str> 'https://api.hh.ru/vacancies/128637424?host=hh.ru'
$ alternate_url                         <str> 'https://hh.ru/vacancy/128637424'
$ apply_alternate_url                   <str> 'https://hh.ru/applicant/vacancy_response?vacancyId=128637424'
$ response_url                          <str> null
$ adv_response_url                      <str> null
$ immediate_redirect_url                <str> null
$ salary                          <struct[4]> {'from': 214000, 'to': None, 'currency': 'RUR', 'gross': False}
$ salary_range                    <struct[6]> {'from': 214000, 'to': None, 'currency': 'RUR', 'gross': False, 'mode': {'id': 'MONTH', 'name': 'За\xa0месяц'}, 'frequency': {'id': 'TWICE_PER_MONTH', 'name': 'Два раза в\xa0месяц'}}
$ employer                        <struct[9]> {'id': '11875449', 'name': 'ПрессБук', 'url': 'https://api.hh.ru/employers/11875449', 'alternate_url': 'https://hh.ru/employer/11875449', 'logo_urls': {'original': 'https://img.hhcdn.ru/employer-logo-original/1402503.png', '90': 'https://img.hhcdn.ru/employer-logo/7229684.png', '240': 'https://img.hhcdn.ru/employer-logo/7229685.png'}, 'vacancies_url': 'https://api.hh.ru/vacancies?employer_id=11875449', 'country_id': 1, 'accredited_it_employer': False, 'trusted': True}
$ department                      <struct[2]> null
$ type                            <struct[2]> {'id': 'open', 'name': 'Открытая'}
$ employment                      <struct[2]> {'id': 'full', 'name': 'Полная занятость'}
$ employment_form                 <struct[2]> {'id': 'FLY_IN_FLY_OUT', 'name': 'Вахта'}
$ experience                      <struct[2]> {'id': 'between1And3', 'name': 'От 1 года до 3 лет'}
$ area                            <struct[3]> {'id': '1045', 'name': 'Инта', 'url': 'https://api.hh.ru/areas/1045'}
$ address                        <struct[10]> {'city': 'посёлок городского типа Новая Чара', 'street': None, 'building': None, 'lat': 56.799059, 'lng': 118.275712, 'description': None, 'raw': 'посёлок городского типа Новая Чара', 'metro': None, 'metro_stations': [], 'id': '20518312'}
$ work_format               <list[struct[2]]> []
$ relations                       <list[str]> []
$ professional_roles        <list[struct[2]]> [{'id': '143', 'name': 'Электромонтажник'}]
$ contacts                        <struct[3]> {'name': None, 'email': None, 'phones': []}
$ adv_context                           <str> null
$ sort_point_distance                   <f64> null
$ snippet                         <struct[2]> {'requirement': None, 'responsibility': None}
$ branding                        <struct[2]> null
$ insider_interview               <struct[2]> null
$ video_vacancy                   <struct[7]> null
$ brand_snippet                   <struct[7]> null
$ published_at_utc             <datetime[μs]> 2025-12-16 14:31:09
$ created_at_utc               <datetime[μs]> 2025-12-16 14:31:09
$ published_at_offset                   <i16> 180
$ created_at_offset                     <i16> 180
$ published_at_local           <datetime[μs]> 2025-12-16 17:31:09
$ created_at_local             <datetime[μs]> 2025-12-16 17:31:09
$ published_date                       <date> 2025-12-16

In [99]:
df.sample(1)

shape: (1, 54)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ id        ┆ name      ┆ schedule  ┆ working_t ┆ … ┆ created_a ┆ published ┆ created_a ┆ publishe │
│ ---       ┆ ---       ┆ ---       ┆ ime_modes ┆   ┆ t_offset  ┆ _at_local ┆ t_local   ┆ d_date   │
│ str       ┆ str       ┆ struct[2] ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆           ┆           ┆ list[stru ┆   ┆ i16       ┆ datetime[ ┆ datetime[ ┆ date     │
│           ┆           ┆           ┆ ct[2]]    ┆   ┆           ┆ μs]       ┆ μs]       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 128636262 ┆ Бетонщик  ┆ {"flyInFl ┆ []        ┆ … ┆ 180       ┆ 2025-12-1 ┆ 2025-12-1 ┆ 2025-12- │
│           ┆ (Губкинск ┆ yOut","Ва ┆           ┆   ┆           ┆ 6         ┆ 6         ┆ 16       │
│           ┆ ий)       ┆ хтовый    ┆           ┆   ┆           ┆ 17:08:30  ┆ 17:08:30  ┆          │
│           ┆           ┆ метод"}   ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

# Try DuckDB EDA

In [2]:
import duckdb
print(f"{duckdb.__version__=}")
con = duckdb.connect()
con.execute("""
    INSTALL httpfs;
    LOAD httpfs;
    
    CREATE OR REPLACE SECRET minio (
      TYPE s3,
      PROVIDER config,
      KEY_ID 'minioadmin',
      SECRET 'minioadmin',
      REGION 'us-east-1',
      ENDPOINT 'localhost:9000',
      USE_SSL false,
      URL_STYLE 'path'
    );
""")

duckdb.__version__='1.4.3'

In [40]:
silver_parquets = [f"s3://silver/{obj.key}" for obj in objects]

In [43]:
silver_parquets[0]

's3://silver/hh/vacancies/year=2025/month=12/day=7/part-c3db8d99-b134-4cdf-9601-af1f29d0eaf8.parquet'

In [3]:
con.sql("select * from read_parquet('s3://silver/hh/vacancies/year=2025/month=12/day=7/part-c3db8d99-b134-4cdf-9601-af1f29d0eaf8.parquet') limit 1")

┌───────────┬─────────────────────────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────┬────────────────────────────────────────┬──────────────────────────────────────┬────────────────┬────────────┬──────────────────┬───────────────────────────┬─────────┬──────────┬───────────────┬──────────────────────────┬─────────────────────┬──────────┬──────────────┬──────────────────────────────────────────────────┬─────────────────────────────────┬──────────────────────────────────────────────────────────────┬──────────────┬──────────────────┬────────────────────────┬─────────────────────────────────────────────────────────────────────┬──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬────────────────────────────────────┬────────────────────────────────────┬────────────────────────────────────────┬────────────────────────────────────┬──────────────────────────────────────────────────┬────────────────────────────────────────────────────────────────┬─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬──────────────────────────────────────┬───────────┬─────────────────────────────────────────────┬──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬─────────────┬─────────────────────┬───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬────────────────────────────────────────┬─────────────────────────────────┬─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬─────────────────────┬─────────────────────┬─────────────────────┬───────────────────┬───────┬───────┬───────┐
│    id     │                          name                           │               schedule               │          working_time_modes          │        working_time_intervals        │             working_days             │            working_hours             │         work_schedule_by_days          │       fly_in_fly_out_duration        │ is_adv_vacancy │ internship │ accept_temporary │ accept_incomplete_resumes │ premium │ has_test │ show_contacts │ response_letter_required │ show_logo_in_search │ archived │ night_shifts │                       url                        │          alternate_url          │                     apply_alternate_url                      │ response_url │ adv_response_url │ immediate_redirect_url │                               salary                                │                                                                         salary_range                                                                         │                                                                                                                                                                                                                                               employer                                                                                                                                                                                                                                               │             department             │                type                │               employment               │          employment_form           │                    experience                    │                              area                              │                                                                                                                                                                                     address                                                                                                                                                                                     │             work_format              │ relations │             professional_roles              │                                                         contacts                                                         │ adv_context │ sort_point_distance │                                                                                                                                                snippet                                                                                                                                                │                branding                │        insider_interview        │                                                                                                                                                    video_vacancy                                                                                                                                                    │                                                                                                                                                                                                                                    brand_snippet                                                                                                                                                                                                                                    │  published_at_utc   │   created_at_utc    │ published_at_offset │ created_at_offset │  day  │ month │ year  │
│  varchar  │                         varchar                         │  struct(id varchar, "name" varchar)  │ struct(id varchar, "name" varchar)[] │ struct(id varchar, "name" varchar)[] │ struct(id varchar, "name" varchar)[] │ struct(id varchar, "name" varchar)[] │  struct(id varchar, "name" varchar)[]  │ struct(id varchar, "name" varchar)[] │    boolean     │  boolean   │     boolean      │          boolean          │ boolean │ boolean  │    boolean    │         boolean          │       boolean       │ boolean  │   boolean    │                     varchar                      │             varchar             │                           varchar                            │   varchar    │     varchar      │        varchar         │ struct("from" bigint, "to" bigint, currency varchar, gross boolean) │ struct("from" bigint, "to" bigint, currency varchar, gross boolean, "mode" struct(id varchar, "name" varchar), frequency struct(id varchar, "name" varchar)) │                                                                                                                                 struct(id varchar, "name" varchar, url varchar, alternate_url varchar, logo_urls struct(original varchar, "90" varchar, "240" varchar), vacancies_url varchar, country_id bigint, accredited_it_employer boolean, "trusted" boolean)                                                                                                                                 │ struct(id varchar, "name" varchar) │ struct(id varchar, "name" varchar) │   struct(id varchar, "name" varchar)   │ struct(id varchar, "name" varchar) │        struct(id varchar, "name" varchar)        │        struct(id varchar, "name" varchar, url varchar)         │ struct(city varchar, street varchar, building varchar, lat double, lng double, description varchar, raw varchar, metro struct(station_name varchar, line_name varchar, station_id varchar, line_id varchar, lat double, lng double), metro_stations struct(station_name varchar, line_name varchar, station_id varchar, line_id varchar, lat double, lng double)[], id varchar) │ struct(id varchar, "name" varchar)[] │ varchar[] │    struct(id varchar, "name" varchar)[]     │ struct("name" varchar, email varchar, phones struct(country varchar, city varchar, number varchar, "comment" varchar)[]) │   varchar   │       double        │                                                                                                                          struct(requirement varchar, responsibility varchar)                                                                                                                          │ struct("type" varchar, tariff varchar) │ struct(id varchar, url varchar) │ struct(cover_picture struct(resized_path varchar, resized_width bigint, resized_height bigint), snippet_picture struct(url varchar), video struct(upload_id varchar, url varchar), snippet_video struct(upload_id varchar, url varchar), video_url varchar, snippet_video_url varchar, snippet_picture_url varchar) │ struct(logo varchar, logo_xs varchar, logo_scalable struct("default" struct(width bigint, height bigint, url varchar), xs struct(width bigint, height bigint, url varchar)), picture varchar, picture_xs varchar, picture_scalable struct("default" struct(width bigint, height bigint, url varchar), xs struct(width bigint, height bigint, url varchar)), background struct(color varchar, gradient struct(angle double, color_list struct(color varchar, "position" double)[]))) │      timestamp      │      timestamp      │        int16        │       int16       │ int64 │ int64 │ int64 │
├───────────┼─────────────────────────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────┼────────────────────────────────────────┼──────────────────────────────────────┼────────────────┼────────────┼──────────────────┼───────────────────────────┼─────────┼──────────┼───────────────┼──────────────────────────┼─────────────────────┼──────────┼──────────────┼──────────────────────────────────────────────────┼─────────────────────────────────┼──────────────────────────────────────────────────────────────┼──────────────┼──────────────────┼────────────────────────┼─────────────────────────────────────────────────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼────────────────────────────────────┼────────────────────────────────────┼────────────────────────────────────────┼────────────────────────────────────┼──────────────────────────────────────────────────┼────────────────────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────────────────────────────────┼───────────┼─────────────────────────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼─────────────┼─────────────────────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼────────────────────────────────────────┼─────────────────────────────────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼───────────────────┼───────┼───────┼───────┤
│ 100292334 │ Слесарь по эксплуатации и ремонту газового оборудования │ {'id': fullDay, 'name': Полный день} │ []                                   │ []                                   │ []                                   │ [{'id': HOURS_8, 'name': 8 часов}]   │ [{'id': FIVE_ON_TWO_OFF, 'name': 5/2}] │ []                                   │ false          │ false      │ false            │ true                      │ false   │ false    │ true          │ false                    │ NULL                │ false    │ false        │ https://api.hh.ru/vacancies/100292334?host=hh.ru │ https://hh.ru/vacancy/100292334 │ https://hh.ru/applicant/vacancy_response?vacancyId=100292334 │ NULL         │ NULL             │ NULL                   │ {'from': 49000, 'to': 61000, 'currency': RUR, 'gross': false}       │ {'from': 49000, 'to': 61000, 'currency': RUR, 'gross': false, 'mode': {'id': MONTH, 'name': За месяц}, 'frequency': NULL}                                    │ {'id': 1062767, 'name': Томлесдрев, 'url': 'https://api.hh.ru/employers/1062767', 'alternate_url': 'https://hh.ru/employer/1062767', 'logo_urls': {'original': 'https://img.hhcdn.ru/employer-logo-original-round/3735666.png', '90': 'https://img.hhcdn.ru/employer-logo-round/3735667.png', '240': 'https://img.hhcdn.ru/employer-logo-round/3735668.png'}, 'vacancies_url': 'https://api.hh.ru/vacancies?employer_id=1062767', 'country_id': 1, 'accredited_it_employer': false, 'trusted': true} │ NULL                               │ {'id': open, 'name': Открытая}     │ {'id': full, 'name': Полная занятость} │ {'id': FULL, 'name': Полная}       │ {'id': between1And3, 'name': От 1 года до 3 лет} │ {'id': 90, 'name': Томск, 'url': 'https://api.hh.ru/areas/90'} │ {'city': Томск, 'street': 2-й поселок ЛПК, 'building': 109/3, 'lat': 56.545001, 'lng': 84.935396, 'description': NULL, 'raw': 'Томск, 2-й поселок ЛПК, 109/3', 'metro': NULL, 'metro_stations': [], 'id': 1196581}                                                                                                                                                              │ []                                   │ []        │ [{'id': 115, 'name': 'Слесарь, сантехник'}] │ {'name': NULL, 'email': NULL, 'phones': []}                                                                              │ NULL        │                NULL │ {'requirement': 'Предпочтительное образование "Томский коммунально-строительный техникум", специальность: «Монтаж и эксплуатация оборудования и систем газоснабжения». Слесарные навыки, знание газового оборудования. ', 'responsibility': Эксплуатация и ремонт газового оборудования предприятия.} │ NULL                                   │ NULL                            │ NULL                                                                                                                                                                                                                                                                                                                │ NULL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                │ 2025-12-07 09:07:46 │ 2025-12-07 09:07:46 │                 180 │               180 │     7 │    12 │  2025 │

## Кол-во вакансий за 2025-12

In [47]:
con.sql("select count(*) rows_cnt, count(distinct id) unique_id_cnt from read_parquet('s3://silver/hh/vacancies/year=2025/month=12/day=*/*.parquet')")

┌──────────┬───────────────┐
│ rows_cnt │ unique_id_cnt │
│  int64   │     int64     │
├──────────┼───────────────┤
│   585986 │        545877 │
└──────────┴───────────────┘

In [89]:
con.sql("describe select * from read_parquet('s3://silver/hh/vacancies/year=2025/month=12/day=*/*.parquet')").show(max_rows=100)

┌───────────────────────────┬─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬─────────┬─────────┬─────────┬─────────┐
│        column_name        │                                                                                                                                                                                                                                     column_type                                                                                                                                                                                                                                     │  null   │   key   │ default │  extra  │
│          varchar          │                                                                                                                                                                                                                                       varchar                                                                                                                                                                                                                                       │ varchar │ varchar │ varchar │ varchar │
├───────────────────────────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼─────────┼─────────┼─────────┼─────────┤
│ id                        │ VARCHAR                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ name                      │ VARCHAR                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ schedule                  │ STRUCT(id VARCHAR, "name" VARCHAR)                                                                                                                                                                                                                                                                                                                                                                                                                                                  │ YES     │ NULL    │ NULL    │ NULL    │
│ working_time_modes        │ STRUCT(id VARCHAR, "name" VARCHAR)[]                                                                                                                                                                                                                                                                                                                                                                                                                                                │ YES     │ NULL    │ NULL    │ NULL    │
│ working_time_intervals    │ STRUCT(id VARCHAR, "name" VARCHAR)[]                                                                                                                                                                                                                                                                                                                                                                                                                                                │ YES     │ NULL    │ NULL    │ NULL    │
│ working_days              │ STRUCT(id VARCHAR, "name" VARCHAR)[]                                                                                                                                                                                                                                                                                                                                                                                                                                                │ YES     │ NULL    │ NULL    │ NULL    │
│ working_hours             │ STRUCT(id VARCHAR, "name" VARCHAR)[]                                                                                                                                                                                                                                                                                                                                                                                                                                                │ YES     │ NULL    │ NULL    │ NULL    │
│ work_schedule_by_days     │ STRUCT(id VARCHAR, "name" VARCHAR)[]                                                                                                                                                                                                                                                                                                                                                                                                                                                │ YES     │ NULL    │ NULL    │ NULL    │
│ fly_in_fly_out_duration   │ STRUCT(id VARCHAR, "name" VARCHAR)[]                                                                                                                                                                                                                                                                                                                                                                                                                                                │ YES     │ NULL    │ NULL    │ NULL    │
│ is_adv_vacancy            │ BOOLEAN                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ internship                │ BOOLEAN                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ accept_temporary          │ BOOLEAN                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ accept_incomplete_resumes │ BOOLEAN                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ premium                   │ BOOLEAN                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ has_test                  │ BOOLEAN                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ show_contacts             │ BOOLEAN                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ response_letter_required  │ BOOLEAN                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ show_logo_in_search       │ BOOLEAN                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ archived                  │ BOOLEAN                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ night_shifts              │ BOOLEAN                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ url                       │ VARCHAR                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ alternate_url             │ VARCHAR                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ apply_alternate_url       │ VARCHAR                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ response_url              │ VARCHAR                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ adv_response_url          │ VARCHAR                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ immediate_redirect_url    │ VARCHAR                                                                                                                                                                                                                                                                                                                                                                                                                                                                             │ YES     │ NULL    │ NULL    │ NULL    │
│ salary                    │ STRUCT("from" BIGINT, "to" BIGINT, currency VARCHAR, gross BOOLEAN)                                                                                                                                                                                                                                                                                                                                                                                                                 │ YES     │ NULL    │ NULL    │ NULL    │
│ salary_range              │ STRUCT("from" BIGINT, "to" BIGINT, currency VARCHAR, gross BOOLEAN, "mode" STRUCT(id VARCHAR, "name" VARCHAR), frequency STRUCT(id VARCHAR, "name" VARCHAR))                                                                                                                                                                                                                                                                                                                        │ YES     │ NULL    │ NULL    │ NULL    │
│ employer                  │ STRUCT(id VARCHAR, "name" VARCHAR, url VARCHAR, alternate_url VARCHAR, logo_urls STRUCT(original VARCHAR, "90" VARCHAR, "240" VARCHAR), vacancies_url VARCHAR, country_id BIGINT, accredited_it_employer BOOLEAN, "trusted" BOOLEAN)                                                                                                                                                                                                                                                │ YES     │ NULL    │ NULL    │ NULL    │
│ department                │ STRUCT(id VARCHAR, "name" VARCHAR)                                                                                                                                                                                                                                                                                                                                                                                                                                                  │ YES     │ NULL    │ NULL    │ NULL    │
│ type                      │ STRUCT(id VARCHAR, "name" VARCHAR)                                                                                                                                                                                                                                                                                                                                                                                                                                                  │ YES     │ NULL    │ NULL    │ NULL    │
│ employment                │ STRUCT(id VARCHAR, "name" VARCHAR)                                                                                                                                                                                                                                                                                                                                                                                                                                                  │ YES     │ NULL    │ NULL    │ NULL    │
│ employment_form           │ STRUCT(id VARCHAR, "name" VARCHAR)                                                                                                                                                                                                                                                                                                                                                                                                                                                  │ YES     │ NULL    │ NULL    │ NULL    │

In [4]:
vacancies = con.sql("select * from read_parquet('s3://silver/hh/vacancies/year=2025/month=12/day=*/*.parquet')")

## Кол-во null значений

In [115]:
null_cnt_sql = ",\n".join([
    f"count(*) filter (where {col} is null) as {col}"
    for col in vacancies.columns
])
null_cnt_pd = con.sql(f"select {null_cnt_sql} from vacancies").to_df().T
null_cnt_pd["total_cnt"] = con.sql("select count(*) cnt from vacancies").fetchone()[0]
null_cnt_pd.columns = ["null_cnt", "total_cnt"]
null_cnt_pd["null_pcnt"] = round(null_cnt_pd.null_cnt/null_cnt_pd.total_cnt*100, 1)
null_cnt_pd

                           null_cnt  total_cnt  null_pcnt
id                                0     585986        0.0
name                              0     585986        0.0
schedule                          0     585986        0.0
working_time_modes                0     585986        0.0
working_time_intervals            0     585986        0.0
working_days                      0     585986        0.0
working_hours                     0     585986        0.0
work_schedule_by_days             0     585986        0.0
fly_in_fly_out_duration           0     585986        0.0
is_adv_vacancy                    0     585986        0.0
internship                        0     585986        0.0
accept_temporary                  0     585986        0.0
accept_incomplete_resumes         0     585986        0.0
premium                           0     585986        0.0
has_test                          0     585986        0.0
show_contacts                     0     585986        0.0
response_letter_required          0     585986        0.0
show_logo_in_search          328207     585986       56.0
archived                          0     585986        0.0
night_shifts                      0     585986        0.0
url                               0     585986        0.0
alternate_url                     0     585986        0.0
apply_alternate_url               0     585986        0.0
response_url                 509228     585986       86.9
adv_response_url             585986     585986      100.0
immediate_redirect_url       509231     585986       86.9
salary                        97137     585986       16.6
salary_range                  97137     585986       16.6
employer                          0     585986        0.0
department                   473368     585986       80.8
type                              0     585986        0.0
employment                        0     585986        0.0
employment_form                   0     585986        0.0
experience                        0     585986        0.0
area                              0     585986        0.0
address                      161715     585986       27.6
work_format                       0     585986        0.0
relations                         0     585986        0.0
professional_roles                0     585986        0.0
contacts                     191453     585986       32.7
adv_context                  585986     585986      100.0
sort_point_distance          585986     585986      100.0
snippet                           0     585986        0.0
branding                     392236     585986       66.9
insider_interview            576536     585986       98.4
video_vacancy                582555     585986       99.4
brand_snippet                578588     585986       98.7
published_at_utc                  0     585986        0.0
created_at_utc                    0     585986        0.0
published_at_offset               0     585986        0.0
created_at_offset                 0     585986        0.0
day                               0     585986        0.0
month                             0     585986        0.0
year                              0     585986        0.0

## Кол-во пустых STRUCT[] колонок

**Вывод:** в основном заполняются колонки working_hours, work_schedule_by_days, work_format

In [135]:
describe_pd = con.sql("describe select * from read_parquet('s3://silver/hh/vacancies/year=2025/month=12/day=*/*.parquet')").to_df()

In [124]:
column_type_is_list_mask = describe_pd.column_type.apply(lambda x: x.endswith("[]"))
lists_columns = describe_pd[column_type_is_list_mask].column_name.tolist()
describe_pd[column_type_is_list_mask]

,column_name,column_type,null,key,default,extra
3,working_time_modes,"STRUCT(id VARCHAR, ""name"" VARCHAR)[]",YES,None,None,None
4,working_time_intervals,"STRUCT(id VARCHAR, ""name"" VARCHAR)[]",YES,None,None,None
5,working_days,"STRUCT(id VARCHAR, ""name"" VARCHAR)[]",YES,None,None,None
6,working_hours,"STRUCT(id VARCHAR, ""name"" VARCHAR)[]",YES,None,None,None
7,work_schedule_by_days,"STRUCT(id VARCHAR, ""name"" VARCHAR)[]",YES,None,None,None
8,fly_in_fly_out_duration,"STRUCT(id VARCHAR, ""name"" VARCHAR)[]",YES,None,None,None
36,work_format,"STRUCT(id VARCHAR, ""name"" VARCHAR)[]",YES,None,None,None
37,relations,VARCHAR[],YES,None,None,None
38,professional_roles,"STRUCT(id VARCHAR, ""name"" VARCHAR)[]",YES,None,None,None

In [134]:
empty_lists_sql = ",\n".join([
    f"count(*) filter (where length({col})=0) as {col}"
    for col in lists_columns
])
empty_lists_pd = con.sql(f"select {empty_lists_sql} from vacancies").to_df().T
empty_lists_pd["total_cnt"] = con.sql("select count(*) cnt from vacancies").fetchone()[0]
empty_lists_pd.columns = ["empty_list_cnt", "total_cnt"]
empty_lists_pd["empty_pcnt"] = round(empty_lists_pd.empty_list_cnt/null_cnt_pd.total_cnt*100, 1)
empty_lists_pd

                         empty_list_cnt  total_cnt  empty_pcnt
working_time_modes               566233     585986        96.6
working_time_intervals           528809     585986        90.2
working_days                     585085     585986        99.8
working_hours                      8542     585986         1.5
work_schedule_by_days              7862     585986         1.3
fly_in_fly_out_duration          508132     585986        86.7
work_format                      119991     585986        20.5
relations                        585986     585986       100.0
professional_roles                    0     585986         0.0

## Null & empty struct

In [157]:
null_and_empty_struct = null_cnt_pd.join(empty_lists_pd[["empty_list_cnt", "empty_pcnt"]], rsuffix="_empty")
null_and_empty_struct = null_and_empty_struct[['total_cnt', 'null_cnt', 'null_pcnt', 'empty_list_cnt', 'empty_pcnt']]
null_and_empty_struct

,total_cnt,null_cnt,null_pcnt,empty_list_cnt,empty_pcnt
id,585986,0,0.0,NaN,NaN
name,585986,0,0.0,NaN,NaN
schedule,585986,0,0.0,NaN,NaN
working_time_modes,585986,0,0.0,566233.0,96.6
working_time_intervals,585986,0,0.0,528809.0,90.2
working_days,585986,0,0.0,585085.0,99.8
working_hours,585986,0,0.0,8542.0,1.5
work_schedule_by_days,585986,0,0.0,7862.0,1.3
fly_in_fly_out_duration,585986,0,0.0,508132.0,86.7
is_adv_vacancy,585986,0,0.0,NaN,NaN
internship,585986,0,0.0,NaN,NaN
accept_temporary,585986,0,0.0,NaN,NaN
accept_incomplete_resumes,585986,0,0.0,NaN,NaN
premium,585986,0,0.0,NaN,NaN
has_test,585986,0,0.0,NaN,NaN
show_contacts,585986,0,0.0,NaN,NaN
response_letter_required,585986,0,0.0,NaN,NaN
show_logo_in_search,585986,328207,56.0,NaN,NaN
archived,585986,0,0.0,NaN,NaN
night_shifts,585986,0,0.0,NaN,NaN
url,585986,0,0.0,NaN,NaN
alternate_url,585986,0,0.0,NaN,NaN
apply_alternate_url,585986,0,0.0,NaN,NaN
response_url,585986,509228,86.9,NaN,NaN
adv_response_url,585986,585986,100.0,NaN,NaN
immediate_redirect_url,585986,509231,86.9,NaN,NaN
salary,585986,97137,16.6,NaN,NaN
salary_range,585986,97137,16.6,NaN,NaN
employer,585986,0,0.0,NaN,NaN
department,585986,473368,80.8,NaN,NaN
type,585986,0,0.0,NaN,NaN
employment,585986,0,0.0,NaN,NaN
employment_form,585986,0,0.0,NaN,NaN
experience,585986,0,0.0,NaN,NaN
area,585986,0,0.0,NaN,NaN
address,585986,161715,27.6,NaN,NaN
work_format,585986,0,0.0,119991.0,20.5
relations,585986,0,0.0,585986.0,100.0
professional_roles,585986,0,0.0,0.0,0.0
contacts,585986,191453,32.7,NaN,NaN
adv_context,585986,585986,100.0,NaN,NaN
sort_point_distance,585986,585986,100.0,NaN,NaN
snippet,585986,0,0.0,NaN,NaN
branding,585986,392236,66.9,NaN,NaN
insider_interview,585986,576536,98.4,NaN,NaN
video_vacancy,585986,582555,99.4,NaN,NaN
brand_snippet,585986,578588,98.7,NaN,NaN
published_at_utc,585986,0,0.0,NaN,NaN
created_at_utc,585986,0,0.0,NaN,NaN
published_at_offset,585986,0,0.0,NaN,NaN
created_at_offset,585986,0,0.0,NaN,NaN
day,585986,0,0.0,NaN,NaN
month,585986,0,0.0,NaN,NaN
year,585986,0,0.0,NaN,NaN

## Формат работы / schedule

In [158]:
con.sql("select schedule, count(*) rows_cnt, count(distinct id) unique_id_cnt from vacancies group by all order by rows_cnt desc")

┌─────────────────────────────────────────────┬──────────┬───────────────┐
│                  schedule                   │ rows_cnt │ unique_id_cnt │
│     struct(id varchar, "name" varchar)      │  int64   │     int64     │
├─────────────────────────────────────────────┼──────────┼───────────────┤
│ {'id': fullDay, 'name': Полный день}        │   334374 │        309230 │
│ {'id': flyInFlyOut, 'name': Вахтовый метод} │    77854 │         73068 │
│ {'id': shift, 'name': Сменный график}       │    73120 │         69572 │
│ {'id': flexible, 'name': Гибкий график}     │    69974 │         65255 │
│ {'id': remote, 'name': Удаленная работа}    │    30664 │         28770 │
└─────────────────────────────────────────────┴──────────┴───────────────┘

## List structs

In [180]:
def list_struct_report(col):
    return con.sql(f"select {col}, length({col}) len, count(*) cnt from vacancies group by all order by cnt desc limit 10")

### working_time_modes

In [181]:
list_struct_report("working_time_modes")

┌────────────────────────────────────────────────────────────────────┬───────┬────────┐
│                         working_time_modes                         │  len  │  cnt   │
│                struct(id varchar, "name" varchar)[]                │ int64 │ int64  │
├────────────────────────────────────────────────────────────────────┼───────┼────────┤
│ []                                                                 │     0 │ 566233 │
│ [{'id': start_after_sixteen, 'name': 'С началом дня после 16:00'}] │     1 │  19753 │
└────────────────────────────────────────────────────────────────────┴───────┴────────┘

### working_time_intervals

In [182]:
list_struct_report("working_time_intervals")

┌──────────────────────────────────────────────────────────────────────────────────────┬───────┬────────┐
│                                working_time_intervals                                │  len  │  cnt   │
│                         struct(id varchar, "name" varchar)[]                         │ int64 │ int64  │
├──────────────────────────────────────────────────────────────────────────────────────┼───────┼────────┤
│ []                                                                                   │     0 │ 528809 │
│ [{'id': from_four_to_six_hours_in_a_day, 'name': Можно сменами по 4-6 часов в день}] │     1 │  57177 │
└──────────────────────────────────────────────────────────────────────────────────────┴───────┴────────┘

### working_days

In [183]:
list_struct_report("working_days")

┌────────────────────────────────────────────────────────────────────────┬───────┬────────┐
│                              working_days                              │  len  │  cnt   │
│                  struct(id varchar, "name" varchar)[]                  │ int64 │ int64  │
├────────────────────────────────────────────────────────────────────────┼───────┼────────┤
│ []                                                                     │     0 │ 585085 │
│ [{'id': only_saturday_and_sunday, 'name': По субботам и воскресеньям}] │     1 │    901 │
└────────────────────────────────────────────────────────────────────────┴───────┴────────┘

### working_hours

In [184]:
list_struct_report("working_hours")

┌───────────────────────────────────────────────────────────────────────────────────────────────────────┬───────┬────────┐
│                                             working_hours                                             │  len  │  cnt   │
│                                 struct(id varchar, "name" varchar)[]                                  │ int64 │ int64  │
├───────────────────────────────────────────────────────────────────────────────────────────────────────┼───────┼────────┤
│ [{'id': HOURS_8, 'name': 8 часов}]                                                                    │     1 │ 244569 │
│ [{'id': HOURS_12, 'name': 12 часов}]                                                                  │     1 │ 101800 │
│ [{'id': HOURS_11, 'name': 11 часов}]                                                                  │     1 │  42404 │
│ [{'id': OTHER, 'name': Другое}]                                                                       │     1 │  25201 │
│ [{'id': HOURS_10, 'name': 10 часов}]                                                                  │     1 │  14496 │
│ [{'id': FLEXIBLE, 'name': По договорённости}, {'id': OTHER, 'name': Другое}]                          │     2 │  13349 │
│ [{'id': FLEXIBLE, 'name': По договорённости}]                                                         │     1 │  11943 │
│ [{'id': HOURS_4, 'name': 4 часа}, {'id': HOURS_5, 'name': 5 часов}, {'id': HOURS_6, 'name': 6 часов}] │     3 │   9444 │
│ [{'id': HOURS_8, 'name': 8 часов}, {'id': HOURS_12, 'name': 12 часов}]                                │     2 │   8798 │
│ []                                                                                                    │     0 │   8542 │
├───────────────────────────────────────────────────────────────────────────────────────────────────────┴───────┴────────┤
│ 10 rows                                                                                                      3 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

### work_schedule_by_days

In [185]:
list_struct_report("work_schedule_by_days")

┌──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬───────┬────────┐
│                                                                                                                                                                                                                                                              work_schedule_by_days                                                                                                                                                                                                                                                               │  len  │  cnt   │
│                                                                                                                                                                                                                                                       struct(id varchar, "name" varchar)[]                                                                                                                                                                                                                                                       │ int64 │ int64  │
├──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼───────┼────────┤
│ [{'id': FIVE_ON_TWO_OFF, 'name': 5/2}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           │     1 │ 253506 │
│ [{'id': OTHER, 'name': Другое}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  │     1 │  88508 │
│ [{'id': TWO_ON_TWO_OFF, 'name': 2/2}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            │     1 │  62602 │
│ [{'id': SIX_ON_ONE_OFF, 'name': 6/1}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            │     1 │  25805 │
│ [{'id': FLEXIBLE, 'name': Свободный}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            │     1 │  13585 │
│ [{'id': FIVE_ON_TWO_OFF, 'name': 5/2}, {'id': TWO_ON_TWO_OFF, 'name': 2/2}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                      │     2 │  13559 │
│ [{'id': SIX_ON_ONE_OFF, 'name': 6/1}, {'id': FIVE_ON_TWO_OFF, 'name': 5/2}, {'id': FOUR_ON_FOUR_OFF, 'name': 4/4}, {'id': FOUR_ON_THREE_OFF, 'name': 4/3}, {'id': FOUR_ON_TWO_OFF, 'name': 4/2}, {'id': THREE_ON_THREE_OFF, 'name': 3/3}, {'id': THREE_ON_TWO_OFF, 'name': 3/2}, {'id': TWO_ON_TWO_OFF, 'name': 2/2}, {'id': TWO_ON_ONE_OFF, 'name': 2/1}, {'id': ONE_ON_THREE_OFF, 'name': 1/3}, {'id': ONE_ON_TWO_OFF, 'name': 1/2}, {'id': WEEKEND, 'name': По выходным}, {'id': FLEXIBLE, 'name': Свободный}, {'id': OTHER, 'name': Другое}] │    14 │  12290 │
│ [{'id': WEEKEND, 'name': По выходным}, {'id': OTHER, 'name': Другое}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                            │     2 │  11917 │
│ []                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               │     0 │   7862 │
│ [{'id': THREE_ON_THREE_OFF, 'name': 3/3}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        │     1 │   6747 │
├──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┴───────┴────────┤
│ 10 rows                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 3 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

### fly_in_fly_out_duration

In [187]:
list_struct_report("fly_in_fly_out_duration")

┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬───────┬────────┐
│                                                                 fly_in_fly_out_duration                                                                 │  len  │  cnt   │
│                                                          struct(id varchar, "name" varchar)[]                                                           │ int64 │ int64  │
├─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼───────┼────────┤
│ []                                                                                                                                                      │     0 │ 508132 │
│ [{'id': DAYS_30, 'name': 30}]                                                                                                                           │     1 │  29468 │
│ [{'id': DAYS_60, 'name': 60}]                                                                                                                           │     1 │  26379 │
│ [{'id': OTHER, 'name': Другое}]                                                                                                                         │     1 │   4596 │
│ [{'id': DAYS_60, 'name': 60}, {'id': DAYS_90, 'name': 90}]                                                                                              │     2 │   2831 │
│ [{'id': DAYS_45, 'name': 45}]                                                                                                                           │     1 │   2246 │
│ [{'id': DAYS_15, 'name': 15}]                                                                                                                           │     1 │   1734 │
│ [{'id': DAYS_20, 'name': 20}, {'id': DAYS_30, 'name': 30}, {'id': DAYS_45, 'name': 45}, {'id': DAYS_60, 'name': 60}, {'id': DAYS_90, 'name': 90}]       │     5 │    893 │
│ [{'id': DAYS_60, 'name': 60}, {'id': DAYS_90, 'name': 90}, {'id': DAYS_120, 'name': 120}, {'id': DAYS_180, 'name': 180}, {'id': OTHER, 'name': Другое}] │     5 │    824 │
│ [{'id': DAYS_15, 'name': 15}, {'id': DAYS_30, 'name': 30}]                                                                                              │     2 │    755 │
├─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┴───────┴────────┤
│ 10 rows                                                                                                                                                        3 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## is_adv_vacancy

In [189]:
con.sql("select is_adv_vacancy, count(*) cnt from vacancies group by all order by cnt desc")

┌────────────────┬──────────────┐
│ is_adv_vacancy │ count_star() │
│    boolean     │    int64     │
├────────────────┼──────────────┤
│ false          │       585986 │
└────────────────┴──────────────┘

## internship

In [191]:
con.sql("select internship, count(*) cnt from vacancies group by all order by cnt desc")

┌────────────┬────────┐
│ internship │  cnt   │
│  boolean   │ int64  │
├────────────┼────────┤
│ false      │ 562110 │
│ true       │  23876 │
└────────────┴────────┘

## accept_temporary

In [192]:
con.sql("select accept_temporary, count(*) cnt from vacancies group by all order by cnt desc")

┌──────────────────┬────────┐
│ accept_temporary │  cnt   │
│     boolean      │ int64  │
├──────────────────┼────────┤
│ false            │ 525486 │
│ true             │  60500 │
└──────────────────┴────────┘

## Описание данных

Ниже представлена сопоставленная таблица. За основу взята **Схема данных**, так как она определяет физическую структуру таблицы. Описания подтянуты из списка «Описание колонок».

Для полей, которые есть в схеме, но отсутствуют в текстовом описании, проставлена пометка «Нет в описании».

| Колонка | Тип данных (из схемы) | Описание | Примечание |
| :--- | :--- | :--- | :--- |
| **id** | `VARCHAR` | Идентификатор вакансии | Required |
| **name** | `VARCHAR` | Название | Required |
| **schedule** | `STRUCT(id VARCHAR, "name" VARCHAR)` | График работы | **Deprecated**. Объект или null |
| **working_time_modes** | `STRUCT(id VARCHAR, "name" VARCHAR)[]` | Список режимов времени работы | **Deprecated**. Массив объектов или null |
| **working_time_intervals** | `STRUCT(id VARCHAR, "name" VARCHAR)[]` | Список с временными интервалами работы | **Deprecated**. Массив объектов или null |
| **working_days** | `STRUCT(id VARCHAR, "name" VARCHAR)[]` | Список рабочих дней | **Deprecated**. Массив объектов или null |
| **working_hours** | `STRUCT(id VARCHAR, "name" VARCHAR)[]` | Список вариантов рабочих часов в день | Массив объектов или null |
| **work_schedule_by_days** | `STRUCT(id VARCHAR, "name" VARCHAR)[]` | Список графиков работы | Массив объектов или null |
| **fly_in_fly_out_duration** | `STRUCT(id VARCHAR, "name" VARCHAR)[]` | Варианты длительности вахты | Массив объектов или null |
| **is_adv_vacancy** | `BOOLEAN` | — | Нет в описании |
| **internship** | `BOOLEAN` | Стажировка | |
| **accept_temporary** | `BOOLEAN` | Временное трудоустройство | Указание, что вакансия доступна с временным трудоустройством |
| **accept_incomplete_resumes** | `BOOLEAN` | Неполное резюме | Разрешен ли отклик на вакансию неполным резюме. Required |
| **premium** | `BOOLEAN` | Премиум-вакансия | Является ли данная вакансия премиум-вакансией |
| **has_test** | `BOOLEAN` | Наличие теста | Информация о наличии прикрепленного тестового задания. Required |
| **show_contacts** | `BOOLEAN` | Доступны ли контакты | |
| **response_letter_required** | `BOOLEAN` | Сопроводительное письмо | Обязательно ли заполнять сообщение при отклике. Required |
| **show_logo_in_search** | `BOOLEAN` | Отображать ли лого | Отображать ли лого для вакансии в поисковой выдаче |
| **archived** | `BOOLEAN` | В архиве | Находится ли данная вакансия в архиве |
| **night_shifts** | `BOOLEAN` | Ночные смены | |
| **url** | `VARCHAR` | URL вакансии | Required |
| **alternate_url** | `VARCHAR` | Ссылка на представление вакансии на сайте | Required |
| **apply_alternate_url** | `VARCHAR` | Ссылка на отклик на вакансию на сайте | Required |
| **response_url** | `VARCHAR` | URL отклика | Для прямых вакансий (type.id=direct) |
| **adv_response_url** | `VARCHAR` | — | Нет в описании |
| **immediate_redirect_url** | `VARCHAR` | — | Нет в описании |
| **salary** | `STRUCT("from" BIGINT, "to" BIGINT, currency VARCHAR, gross BOOLEAN)` | Зарплата | **Deprecated**. Required |
| **salary_range** | `STRUCT(...)` | Зарплата | Required. Расширенная структура с mode и frequency |
| **employer** | `STRUCT(...)` | Информация о компании работодателя | Required. Содержит ссылки на логотипы, аккредитацию и др. |
| **department** | `STRUCT(id VARCHAR, "name" VARCHAR)` | Департамент | Required. Может быть null-объектом |
| **type** | `STRUCT(id VARCHAR, "name" VARCHAR)` | Тип вакансии | Required |
| **employment** | `STRUCT(id VARCHAR, "name" VARCHAR)` | Тип занятости | **Deprecated** |
| **employment_form** | `STRUCT(id VARCHAR, "name" VARCHAR)` | Тип занятости | |
| **experience** | `STRUCT(id VARCHAR, "name" VARCHAR)` | Опыт работы | |
| **area** | `STRUCT(id VARCHAR, "name" VARCHAR, url VARCHAR)` | Регион | Required |
| **address** | `STRUCT(...)` | Адрес | В схеме включает в себя массив `metro_stations` (станции метро) |
| **work_format** | `STRUCT(id VARCHAR, "name" VARCHAR)[]` | Список форматов работы | Массив объектов |
| **relations** | `VARCHAR[]` | Связи соискателя с вакансией | Required. Enum: favorited, got_response и др. |
| **professional_roles** | `STRUCT(id VARCHAR, "name" VARCHAR)[]` | Список профессиональных ролей | Required. Массив объектов |
| **contacts** | `STRUCT(...)` | Контактная информация | Включает телефоны, email. Объект или null |
| **adv_context** | `VARCHAR` | — | Нет в описании |
| **sort_point_distance** | `DOUBLE` | Расстояние (в метрах) | Между центром сортировки и адресом вакансии |
| **snippet** | `STRUCT(requirement VARCHAR, responsibility VARCHAR)` | Дополнительные текстовые отрывки | Required. Требования и обязанности |
| **branding** | `STRUCT("type" VARCHAR, tariff VARCHAR)` | — | Нет в описании |
| **insider_interview** | `STRUCT(id VARCHAR, url VARCHAR)` | Интервью о жизни в компании | Объект или null |
| **video_vacancy** | `STRUCT(...)` | Видео вакансия | Содержит ссылки на видео, обложки и превью |
| **brand_snippet** | `STRUCT(...)` | — | Нет в описании (брендинговые элементы: лого, фон) |
| **published_at_utc** | `TIMESTAMP` | Дата и время публикации | В описании поле названо `published_at` (Required) |
| **created_at_utc** | `TIMESTAMP` | Дата и время создания | В описании поле названо `created_at` |
| **published_at_offset** | `SMALLINT` | — | Техническое поле (смещение часового пояса), нет в описании |
| **created_at_offset** | `SMALLINT` | — | Техническое поле (смещение часового пояса), нет в описании |
| **day** | `BIGINT` | — | Техническое поле партицирования, нет в описании |
| **month** | `BIGINT` | — | Техническое поле партицирования, нет в описании |
| **year** | `BIGINT` | — | Техническое поле партицирования, нет в описании |

## Deprecated columns by hh.ru API Docs

In [193]:
deprecated_columns = [
    "employment",
    "salary",
    "schedule",
    "working_days",
    "working_time_intervals",
    "working_time_modes",
]

In [196]:
deprecated_columns_sql = ",".join(deprecated_columns)
con.sql(f"select {deprecated_columns_sql} from vacancies order by random() limit 10")

┌───────────────────────────────────────────┬─────────────────────────────────────────────────────────────────────┬─────────────────────────────────────────────┬──────────────────────────────────────┬──────────────────────────────────────────────────────────────────────────────────────┬──────────────────────────────────────┐
│                employment                 │                               salary                                │                  schedule                   │             working_days             │                                working_time_intervals                                │          working_time_modes          │
│    struct(id varchar, "name" varchar)     │ struct("from" bigint, "to" bigint, currency varchar, gross boolean) │     struct(id varchar, "name" varchar)      │ struct(id varchar, "name" varchar)[] │                         struct(id varchar, "name" varchar)[]                         │ struct(id varchar, "name" varchar)[] │
├───────────────────────────────────────────┼─────────────────────────────────────────────────────────────────────┼─────────────────────────────────────────────┼──────────────────────────────────────┼──────────────────────────────────────────────────────────────────────────────────────┼──────────────────────────────────────┤
│ {'id': full, 'name': Полная занятость}    │ NULL                                                                │ {'id': fullDay, 'name': Полный день}        │ []                                   │ []                                                                                   │ []                                   │
│ {'id': part, 'name': Частичная занятость} │ {'from': 125000, 'to': 250000, 'currency': RUR, 'gross': true}      │ {'id': fullDay, 'name': Полный день}        │ []                                   │ [{'id': from_four_to_six_hours_in_a_day, 'name': Можно сменами по 4-6 часов в день}] │ []                                   │
│ {'id': full, 'name': Полная занятость}    │ {'from': 35200, 'to': 45300, 'currency': RUR, 'gross': true}        │ {'id': fullDay, 'name': Полный день}        │ []                                   │ []                                                                                   │ []                                   │
│ {'id': full, 'name': Полная занятость}    │ NULL                                                                │ {'id': fullDay, 'name': Полный день}        │ []                                   │ []                                                                                   │ []                                   │
│ {'id': full, 'name': Полная занятость}    │ {'from': 4080, 'to': NULL, 'currency': RUR, 'gross': false}         │ {'id': flexible, 'name': Гибкий график}     │ []                                   │ []                                                                                   │ []                                   │
│ {'id': full, 'name': Полная занятость}    │ {'from': 460000, 'to': NULL, 'currency': RUR, 'gross': false}       │ {'id': flyInFlyOut, 'name': Вахтовый метод} │ []                                   │ []                                                                                   │ []                                   │
│ {'id': part, 'name': Частичная занятость} │ {'from': NULL, 'to': 226800, 'currency': RUR, 'gross': true}        │ {'id': flexible, 'name': Гибкий график}     │ []                                   │ []                                                                                   │ []                                   │
│ {'id': full, 'name': Полная занятость}    │ {'from': 350000, 'to': NULL, 'currency': KZT, 'gross': false}       │ {'id': fullDay, 'name': Полный день}        │ []                                   │ []                                                                                   │ []                                   │
│ {'id': full, 'name': Полная занятость}    │ {'from': 95000, 'to': NULL, 'currency': RUR, 'gross': false}        │ {'id': fullDay, 'name': Полный день}        │ []                                   │ []                                                                                   │ []                                   │
│ {'id': full, 'name': Полная занятость}    │ {'from': 90000, 'to': NULL, 'currency': RUR, 'gross': false}        │ {'id': fullDay, 'name': Полный день}        │ []                                   │ []                                                                                   │ []                                   │
├───────────────────────────────────────────┴─────────────────────────────────────────────────────────────────────┴─────────────────────────────────────────────┴──────────────────────────────────────┴──────────────────────────────────────────────────────────────────────────────────────┴──────────────────────────────────────┤
│ 10 rows                                                                                                                                                                                                                                                                                                                  6 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## snippet

In [208]:
con.sql("""
    select
        count(snippet.requirement) rows_cnt,
        count(distinct snippet.requirement) unique_cnt,
        count(*) filter (where snippet.requirement is null) null_cnt,
        round(null_cnt/rows_cnt*100, 2) null_prcnt
    from vacancies
""")

┌──────────┬────────────┬──────────┬────────────┐
│ rows_cnt │ unique_cnt │ null_cnt │ null_prcnt │
│  int64   │   int64    │  int64   │   double   │
├──────────┼────────────┼──────────┼────────────┤
│   526072 │     262576 │    59914 │      11.39 │
└──────────┴────────────┴──────────┴────────────┘

In [210]:
con.sql("select snippet.requirement from vacancies order by random() limit 10")

┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│                                                                                            requirement                                                                                            │
│                                                                                              varchar                                                                                              │
├───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│ УМЕНИЕ РАБОТАТЬ В УСЛОВИЯХ МНОГОЗАДАЧНОСТИ. УМЕНИЕ и ЖЕЛАНИЕ создавать и поддерживать АТМОСФЕРУ ГОСТЕПРИИМСТВА. Активный и конструктивный подход к решению служебных...                           │
│ Высшее техническое образование. Знание AutoCad на уровне уверенного пользователя. Знание технологий обработки металлов (резание, штамповка, термообработка). Умение делать технические расчеты... │
│ Работа на мясоперерабатывающем оборудовании. Опыт не требуется. Обучаем! Опыт работы не требуется. Желание зарабатывать. Готовность к температурному режиму от +...                               │
│ Навыки легкой и уверенной коммуникации, доброжелательность и чувство такта. Грамотная устная речь, умение содержательно и лаконично излагать суть.                                                │
│ Наши преимущества: - Желание работать и зарабатывать. - Опыт в сборке корпусной мебели (без кухонь) от 1 года. - Наличие инструментов для сборки...                                               │
│ С релевантным опытом работы в аналогичной должности, но мы готовы рассматривать кандидатов без опыта (всему научим!). — Готов обучаться и ответственно...                                         │
│ Чтение чертежей обязательно. Разряд 4-5 разряд.                                                                                                                                                   │
│ Высшее техническое образование. Инженер по эксплуатации машин и механизмов. Знания: ГрК РФ, Градостроительный кодекс РФ, Федеральные нормами и правилами в...                                     │
│ Работа на мясоперерабатывающем оборудовании. Опыт не требуется. Обучаем! Опыт работы не требуется. Желание зарабатывать. Готовность к температурному режиму от +...                               │
│ Действующая медицинская книжка или готовность оперативно ее оформить. Наличие смартфона на базе Android/iOS.                                                                                      │
├───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│                                                                                              10 rows                                                                                              │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [211]:
con.sql("""
    select
        count(snippet.responsibility) rows_cnt,
        count(distinct snippet.responsibility) unique_cnt,
        count(*) filter (where snippet.responsibility is null) null_cnt,
        round(null_cnt/rows_cnt*100, 2) null_prcnt
    from vacancies
""")

┌──────────┬────────────┬──────────┬────────────┐
│ rows_cnt │ unique_cnt │ null_cnt │ null_prcnt │
│  int64   │   int64    │  int64   │   double   │
├──────────┼────────────┼──────────┼────────────┤
│   559999 │     273205 │    25987 │       4.64 │
└──────────┴────────────┴──────────┴────────────┘

In [213]:
con.sql("select snippet.responsibility from vacancies order by random() limit 10")

┌────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│                                                                                               responsibility                                                                                               │
│                                                                                                  varchar                                                                                                   │
├────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│ Работы в соответствии с должностной инструкцией каменщика в строительстве.                                                                                                                                 │
│ Разработка, проектирование и модернизация мультироторных БПЛА (квадрокоптеры, гексакоптеры, октокоптеры и др.). Проведение расчетов летно-технических характеристик, аэродинамики, прочности конструкций.  │
│ Отгрузка/прием товара на / с склада. Проведение инвентаризации на складе. Подготовка и комплектация товара согласно накладным. Ведение учёта наличия расходников...                                        │
│ Проверять работоспособность и исправность оборудования для химического окрашивания в соответствии с инструкцией по эксплуатации. Знать и применять технологические режимы процессов...                     │
│ Соблюдение санитарии на рабочем месте, санитарная обработка цеха.                                                                                                                                          │
│ Писать SQL-запросы для извлечения данных из баз данных. Разрабатывать правила системы принятия решений. Анализировать и подключать внешние сервисы.                                                        │
│ Приготовление моюще-дезинфицирующих и дезинфицирующих растворов для обработки помещений и оборудования. Очистка лабораторной посуды. Подготовка к уничтожению образцов ЛС, реактивов...                    │
│ Выполнение аварийно-восстановительных работ на действующих водопроводно-канализационных сетях и сетях теплоснабжения. Обслуживание и ремонт трубопроводов, водопроводных, канализационных сетей и...       │
│ Предварительная обработка поступающих запросов. Подготовка счетов и технико-коммерческих предложений. Согласование условий поставки с заказчиками, проведение переговоров, заключение договоров.           │
│ Осуществлять первичный приём пациентов и определять тактику ведения больного в соответствии с установленными правилами и стандартами. На основании клинических наблюдений...                               │
├────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│                                                                                                  10 rows                                                                                                   │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## professional_roles

In [228]:
con.sql("select max(length(professional_roles)) max_roles_cnt from vacancies ")

┌───────────────┐
│ max_roles_cnt │
│     int64     │
├───────────────┤
│             1 │
└───────────────┘

In [6]:
con.sql("select professional_roles from vacancies order by random() limit 10")

┌───────────────────────────────────────────────────────────────┐
│                      professional_roles                       │
│             struct(id varchar, "name" varchar)[]              │
├───────────────────────────────────────────────────────────────┤
│ [{'id': 142, 'name': Экономист}]                              │
│ [{'id': 97, 'name': 'Продавец-консультант, продавец-кассир'}] │
│ [{'id': 97, 'name': 'Продавец-консультант, продавец-кассир'}] │
│ [{'id': 51, 'name': Кассир-операционист}]                     │
│ [{'id': 131, 'name': 'Упаковщик, комплектовщик'}]             │
│ [{'id': 52, 'name': Кладовщик}]                               │
│ [{'id': 84, 'name': 'Оператор ПК, оператор базы данных'}]     │
│ [{'id': 97, 'name': 'Продавец-консультант, продавец-кассир'}] │
│ [{'id': 96, 'name': 'Программист, разработчик'}]              │
│ [{'id': 161, 'name': Руководитель филиала}]                   │
├───────────────────────────────────────────────────────────────┤
│                            10 rows                            │
└───────────────────────────────────────────────────────────────┘

In [242]:
con.sql("""
    select
        count(professional_roles) rows_cnt,
        count(distinct professional_roles) unique_cnt,
        count(distinct professional_roles[1].name) unique_names_cnt,
        count(distinct professional_roles[1].id) unique_ids_cnt
    from vacancies
""")

┌──────────┬────────────┬──────────────────┬────────────────┐
│ rows_cnt │ unique_cnt │ unique_names_cnt │ unique_ids_cnt │
│  int64   │   int64    │      int64       │     int64      │
├──────────┼────────────┼──────────────────┼────────────────┤
│   585986 │        174 │              174 │            174 │
└──────────┴────────────┴──────────────────┴────────────────┘

In [245]:
con.sql("select professional_roles[1].name as name, count(*) cnt from vacancies group by all order by cnt desc")

┌──────────────────────────────────────────────────────┬───────┐
│                         name                         │  cnt  │
│                       varchar                        │ int64 │
├──────────────────────────────────────────────────────┼───────┤
│ Продавец-консультант, продавец-кассир                │ 50041 │
│ Менеджер по продажам, менеджер по работе с клиентами │ 37387 │
│ Другое                                               │ 36760 │
│ Курьер                                               │ 28404 │
│ Водитель                                             │ 27529 │
│ Оператор производственной линии                      │ 27183 │
│ Упаковщик, комплектовщик                             │ 25289 │
│ Повар, пекарь, кондитер                              │ 23360 │
│ Разнорабочий                                         │ 19988 │
│ Бухгалтер                                            │ 11525 │
│     ·                                                │    ·  │
│     ·                                                │    ·  │
│     ·                                                │    ·  │
│ Андеррайтер                                          │   134 │
│ Гейм-дизайнер                                        │   125 │
│ Брокер                                               │    90 │
│ Арт-директор, креативный директор                    │    86 │
│ Журналист, корреспондент                             │    84 │
│ Режиссер, сценарист                                  │    84 │
│ Директор по информационным технологиям (CIO)         │    72 │
│ Военнослужащий                                       │    69 │
│ Бортпроводник                                        │    58 │
│ Менеджер/консультант по стратегии                    │    53 │
├──────────────────────────────────────────────────────┴───────┤
│ 174 rows (20 shown)                                2 columns │
└──────────────────────────────────────────────────────────────┘

In [251]:
con.sql("select name from vacancies where professional_roles[1].name = 'Другое' order by random() limit 10")

┌─────────────────────────────────────────────────────────────────────────────────┐
│                                      name                                       │
│                                     varchar                                     │
├─────────────────────────────────────────────────────────────────────────────────┤
│ Актер / актриса на YouTube канал (Actress/Actor)                                │
│ Заведующий складом (ГСМ)                                                        │
│ Слесарь-ремонтник участка ТО и ремонта оборудования                             │
│ Менеджер пункта выдачи заказов Ozon                                             │
│ Специалист контакт-центра Организатор перевозок                                 │
│ Мастер по благоустройству                                                       │
│ Руководитель отдела входного контроля                                           │
│ Младший специалист в области управления инвестиционными проектами/строительстве │
│ Управляющий по флоту                                                            │
│ Мастер направления по восстановлению трасс                                      │
├─────────────────────────────────────────────────────────────────────────────────┤
│                                     10 rows                                     │
└─────────────────────────────────────────────────────────────────────────────────┘

In [250]:
con.sql("select name from vacancies where professional_roles[1].name = 'Продавец-консультант, продавец-кассир' order by random() limit 10")

┌──────────────────────────────────────────────────────────────────────┐
│                                 name                                 │
│                               varchar                                │
├──────────────────────────────────────────────────────────────────────┤
│ Продавец-консультант отдела МясновЪ (м. Орехово)                     │
│ Продавец - консультант отдела Мясновъ (ул. Максима Горького, 218/22) │
│ Старший продавец (Москва, Краснодонская, 16/19)                      │
│ Продавец (Гоголя, 2В)                                                │
│ Продавец - кассир (пр-т Кузнецова)                                   │
│ Старший продавец-кассир                                              │
│ Продавец (Дубна, Боголюбова, 19А)                                    │
│ Продавец-консультант (м. Войковская, Новопетровская, 3)              │
│ Сотрудник торгового зала                                             │
│ Продавец - кассир (Электроугли)                                      │
├──────────────────────────────────────────────────────────────────────┤
│                               10 rows                                │
└──────────────────────────────────────────────────────────────────────┘

In [248]:
con.sql("select name from vacancies where professional_roles[1].name = 'Курьер' order by random() limit 10")

┌─────────────────────────────────────────────────────┐
│                        name                         │
│                       varchar                       │
├─────────────────────────────────────────────────────┤
│ Водитель-курьер на личном автомобиле (Бум)          │
│ Курьер посылок                                      │
│ Водитель-курьер на личном автомобиле                │
│ Курьер в доставку документов и канцелярии (посылки) │
│ Водитель-курьер на личном автомобиле                │
│ Автокурьер                                          │
│ Курьер Маркет Деливери                              │
│ Курьер на автомобиле компании (Волгоградский)       │
│ Экспресс-курьер к партнеру Яндекс.Еда               │
│ Курьер к партнеру Яндекс.Еда                        │
├─────────────────────────────────────────────────────┤
│                       10 rows                       │
└─────────────────────────────────────────────────────┘